body * {
  margin: 0;
  padding: 0;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

#root {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stack {
  display: flex;
  border: #dcdcdc solid 0.5px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}

.card h3 {
  text-align: center;
}

.temp {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.current-day {
  background-color: #dcdcdc;
}
